@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');

body{
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: #E8E9E8;
    overflow-x: hidden;
    
}

.white-font{
    color:white;
}

.text-align-center{
    text-align: center;
}

.f-small{
    font-size: 1rem;
}

.f-big{
    font-size: 3rem;
}

.card-header{
    background-color: #3F5CC9 ;
}

.btn-drink{
    background-color: #3F59BE;
    border: none;
    border-radius: 2rem;
    transition: all 0.3s;
}

.btn-drink:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.card-cuba{
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url('https://i.pinimg.com/originals/9f/dd/0f/9fdd0ff9762777a3bf93961055d8e59e.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}

